* {
  padding: 0;
  margin: 0;
  /* background-color: rgb(244, 251, 255); */
}

body {
  margin: 0;
  width: 95vw;
  max-width: 520px;
  margin: 0 auto;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}





ul {
  list-style-type: none;
}

#root{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}

.div-input-card__number{
  font-weight: 400;
  font-size: 0.8rem;
}

.header-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.logo {
  margin: 20px 0;
  align-self: start;
  justify-self: start;
}

.header h1 {
  margin: 20px 0;
  font-size: 2.3rem;
  text-align: left;
}

.header h2 {
  font-size: 1.8rem;
  width: 100%;
  text-align: left;

}

.header a {
  text-decoration: none;
  color: #17a2b8;
  font-weight: bold;
}

.header p {

  text-align: justify;
  margin: 15px
}

.info-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}



.info-buttons div{
  margin: 10px 0
}

.info-buttons button{
  font-weight: bold;
}

.top-info {
  padding: 0 0 10px 0
}

.top-info p{
  text-align: justify;
  margin: 10px 0;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-input-card {
  width: 100%;
}

.div-input-card__title {
  font-size: 18px
}

.div-input-card__descrption {
  font-size: 12px;
  margin: 10px 0
}

.div-input-card__input {
  display: flex;
  justify-content: space-between;
}

.div-input-card__input__slide {
  width: 70%;
}

.div-input-card__input__value {
  width: 10%;
  height: 30px;
  align-self: flex-start;
  border: solid 1px rgb(187, 187, 187) ;
  border-radius: 3px;
  justify-content: center;
  text-align: center;
}

.model-input-zone {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 70px
}

.div-results {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 40px 70px;
  margin: 50px 0 30px 0
}

.model {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.model .model-select {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.result-true {

  color: red;
  font-weight: bold;
}

.result-false {
  color: green;
  font-weight: bold;
}

.div-results p{
  text-align: justify;
}

.div-overview p{
  text-align: justify;
  margin: 15px 0 0 0 
}



.div-overview li{
  text-align: justify;
  margin: 15px 0 15px 15px
}

.div-table {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
  width:100%;
  margin: 15px 0 0 0
}

.div-table__left {
  display: grid;
  grid-template-rows: repeat(6,1fr);
  justify-content: center;
  text-align: center;
  border-right: solid 1px rgb(131, 131, 131);
  border-left: solid 1px rgb(131, 131, 131);
  
}

.div-table__right {
  display: grid;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(11,1fr);
  overflow-x: scroll;
  align-items: center;
  text-align: center;
  border-right: solid 1px rgb(131, 131, 131);

}

.div-table .top {
  border-top: solid 1px rgb(131, 131, 131);
  padding: 0 15px
}

.div-table .bottom {
  border-bottom: solid 1px rgb(131, 131, 131);
}

.feedback { 
  text-align: justify;
  margin: 0 0 30px 0;
}

.feedback a {
  text-decoration: none;
  color: #17a2b8;
  font-weight: bold;
}

